<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">用户管理</a></li>
        <li role="presentation"><a href="http://localhost:9527/admin/userlist">用户列表</a></li>
        <li role="presentation"><a href="http://localhost:9527/admin/adduser">增加用户</a></li>
    </ul>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">商品管理</a></li>
        <li role="presentation"><a href="http://localhost:9527/admin/productlist">商品列表</a></li>
        <li role="presentation"><a href="http://localhost:9527/admin/productadd">增加商品</a></li>
    </ul>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">分类管理</a></li>
        <li role="presentation"><a href="#">商品分类列表</a></li>
        <li role="presentation"><a href="#">增加商品分类</a></li>
    </ul>
</body>
</html>